node_red.txt
[{"id":"96b5c983.878cd8","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"eada9a1d.6b8528","type":"comment","z":"96b5c983.878cd8","name":"Mock IOT devices","info":"","x":110,"y":60,"wires":[]},{"id":"13392cf3.2e6e03","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["6003acad.803074"]]},{"id":"6003acad.803074","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.469963;\nconst longitude = 18.510879;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 1,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"fire\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["d96bc79d.f14cb8"]]},{"id":"d96bc79d.f14cb8","type":"ibmiot out","z":"96b5c983.878cd8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"a1","deviceType":"sample","eventCommandType":"update","format":"json","data":"data","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":750,"y":260,"wires":[]},{"id":"5f1f6f0.f585d9","type":"ibmiot in","z":"96b5c983.878cd8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":140,"y":600,"wires":[["59cdbad3.db0334","694a2a8.04c8bd4"]]},{"id":"59cdbad3.db0334","type":"debug","z":"96b5c983.878cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":780,"wires":[]},{"id":"2b0e67c9.250098","type":"comment","z":"96b5c983.878cd8","name":"Detect fire","info":"","x":80,"y":120,"wires":[]},{"id":"756297ec.9e8fa8","type":"inject","z":"96b5c983.878cd8","name":"Stop fire","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["6003acad.803074"]]},{"id":"f9d62ba5.4f7048","type":"inject","z":"96b5c983.878cd8","name":"Start fire","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["6003acad.803074"]]},{"id":"6fe023d4.eef4cc","type":"function","z":"96b5c983.878cd8","name":"create query","func":"\n// flow.set\n\nreturn {\n    _id: 1\n};","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["f89133ff.2de59"]]},{"id":"f89133ff.2de59","type":"mongodb in","z":"96b5c983.878cd8","service":"_ext_","mongodb":"","name":"get device","collection":"devices","operation":"find","x":710,"y":580,"wires":[["59b0d0ee.daf87"]]},{"id":"cd51e139.bdc5d","type":"switch","z":"96b5c983.878cd8","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"fire","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":520,"wires":[["6fe023d4.eef4cc"]]},{"id":"59b0d0ee.daf87","type":"debug","z":"96b5c983.878cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":580,"wires":[]},{"id":"4f1372c.d147b8c","type":"http request","z":"96b5c983.878cd8","name":"Call API","method":"POST","ret":"txt","url":"https://9640b8da.ngrok.io/api/event","tls":"","x":480,"y":600,"wires":[[]]},{"id":"694a2a8.04c8bd4","type":"function","z":"96b5c983.878cd8","name":"transform","func":"\nreturn {\n    payload: msg.payload.d\n};","outputs":1,"noerr":0,"x":320,"y":600,"wires":[["4f1372c.d147b8c"]]},{"id":"18cbe4d8.4cc0db","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["71171347.0d1fac"]]},{"id":"71171347.0d1fac","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.469505;\nconst longitude = 18.502369;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 2,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"fire\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["d96bc79d.f14cb8"]]},{"id":"31e4a813.5995c8","type":"inject","z":"96b5c983.878cd8","name":"Stop fire","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["71171347.0d1fac"]]},{"id":"fa2bcc51.eafde","type":"inject","z":"96b5c983.878cd8","name":"Start fire","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["71171347.0d1fac"]]}]