node_red.txt
[{"id":"96b5c983.878cd8","type":"tab","label":"Devices","disabled":false,"info":""},{"id":"eada9a1d.6b8528","type":"comment","z":"96b5c983.878cd8","name":"Mock IOT devices","info":"","x":110,"y":60,"wires":[]},{"id":"13392cf3.2e6e03","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["6003acad.803074"]]},{"id":"6003acad.803074","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.469963;\nconst longitude = 18.510879;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 1,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"fire\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["d96bc79d.f14cb8"]]},{"id":"d96bc79d.f14cb8","type":"ibmiot out","z":"96b5c983.878cd8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"a1","deviceType":"sample","eventCommandType":"update","format":"json","data":"data","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":750,"y":260,"wires":[]},{"id":"2b0e67c9.250098","type":"comment","z":"96b5c983.878cd8","name":"Detect fire","info":"","x":80,"y":120,"wires":[]},{"id":"756297ec.9e8fa8","type":"inject","z":"96b5c983.878cd8","name":"Stop fire","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":200,"wires":[["6003acad.803074"]]},{"id":"f9d62ba5.4f7048","type":"inject","z":"96b5c983.878cd8","name":"Start fire","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":240,"wires":[["6003acad.803074"]]},{"id":"18cbe4d8.4cc0db","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["71171347.0d1fac"]]},{"id":"71171347.0d1fac","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.469505;\nconst longitude = 18.502369;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 2,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"fire\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["d96bc79d.f14cb8"]]},{"id":"31e4a813.5995c8","type":"inject","z":"96b5c983.878cd8","name":"Stop fire","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["71171347.0d1fac"]]},{"id":"fa2bcc51.eafde","type":"inject","z":"96b5c983.878cd8","name":"Start fire","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["71171347.0d1fac"]]},{"id":"7d4a79dc.6ea8d8","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":540,"wires":[["916eab71.441be8"]]},{"id":"916eab71.441be8","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.477953;\nconst longitude = 18.502608;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 3,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"flood\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["40618895.2a19f8"]]},{"id":"40618895.2a19f8","type":"ibmiot out","z":"96b5c983.878cd8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"a1","deviceType":"sample","eventCommandType":"update","format":"json","data":"data","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":750,"y":640,"wires":[]},{"id":"102b90bd.3bf41f","type":"comment","z":"96b5c983.878cd8","name":"Detect flood","info":"","x":90,"y":500,"wires":[]},{"id":"cb2f9a09.5c8b58","type":"inject","z":"96b5c983.878cd8","name":"Stop flood","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":580,"wires":[["916eab71.441be8"]]},{"id":"8928bc60.7cc0a","type":"inject","z":"96b5c983.878cd8","name":"Start flood","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["916eab71.441be8"]]},{"id":"9161385f.5abf88","type":"inject","z":"96b5c983.878cd8","name":"Send data","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[["44884085.d1672"]]},{"id":"44884085.d1672","type":"function","z":"96b5c983.878cd8","name":"create data","func":"\nconst latitude = 54.477129;\nconst longitude = 18.507411;\nconst minutes = Math.floor(msg.payload / 1000 / 60 / 60);\n\n\n\nreturn {\n  payload: JSON.stringify(\n    {\n      d:{\n        deviceId: 4,\n        \"value\" : minutes % 2 ? 100: 20,\n        \"type\": \"flood\",\n        \"location\" :\n        {\n          \"longitude\": longitude ,\n          \"latitude\"  :latitude\n        },\n      }\n    }\n  )\n};","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["40618895.2a19f8"]]},{"id":"230224de.09c00c","type":"inject","z":"96b5c983.878cd8","name":"Stop flood","topic":"","payload":"7200000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["44884085.d1672"]]},{"id":"c52037d2.4270b8","type":"inject","z":"96b5c983.878cd8","name":"Start flood","topic":"","payload":"3600000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":780,"wires":[["44884085.d1672"]]},{"id":"396f0f9d.849fa","type":"comment","z":"96b5c983.878cd8","name":"Proxy","info":"","x":810,"y":60,"wires":[]},{"id":"27b5797c.65aa16","type":"ibmiot in","z":"96b5c983.878cd8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":820,"y":120,"wires":[["685bdef2.5f31c"]]},{"id":"685bdef2.5f31c","type":"function","z":"96b5c983.878cd8","name":"transform","func":"\nreturn { payload: msg.payload.d};","outputs":1,"noerr":0,"x":960,"y":120,"wires":[["40100d8a.4a1364"]]},{"id":"5914d436.04ec5c","type":"http request","z":"96b5c983.878cd8","name":"localhost proxy","method":"POST","ret":"txt","url":"https://9640b8da.ngrok.io/api/event","tls":"","x":1140,"y":80,"wires":[[]]},{"id":"40100d8a.4a1364","type":"http request","z":"96b5c983.878cd8","name":"bluemix","method":"POST","ret":"txt","url":"https://disaster-api.eu-gb.mybluemix.net/api/event","tls":"","x":1120,"y":160,"wires":[[]]}]